* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.canvas {
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    border: 1px red solid;
    width: 600px;
    height: 600px;
}

.hud {
    display: flex;
    flex-direction: column;
}

.square {
    flex: 1 1;
    border: 1px goldenrod solid;
}

.black-square {
    background-color: black;
}

.size {
    width: fit-content;
    height: fit-content;
}